[submodule "cpp/conformal-parameterization"]
	path = cpp/conformal-parameterization
	url = https://github.com/lixiongguo/conformal-parameterization.git
	branch = wasm_dev
[submodule "cpp/emsdk"]
	path = cpp/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "cpp/Libigl-Discrete-Geometry"]
	path = cpp/Libigl-Discrete-Geometry
	url = https://github.com/lixiongguo/Libigl-Discrete-Geometry.git
[submodule "ddg-exercises-js"]
	path = ddg-exercises-js
	url = https://github.com/cmu-geometry/ddg-exercises-js.git
