<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title }}</title>
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->

  <link href="/public/css/style.css" rel="stylesheet">
  <body>
  	<canvas id="particle-canvas"></canvas>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
      <!-- <canvas id="particle-canvas"></canvas> -->
			{{ content }}
		</div>
	</div>
	<script>
		MathJax = {
			tex: {
				inlineMath: [['$', '$'], ['\\(', '\\)']], // 同时支持 $ 和 \( \)
				displayMath: [['$$', '$$'], ['\\[', '\\]']]
			  }
		};
  function typeWriter(text, elementId, speed) {
    let i = 0;
    const element = document.getElementById(elementId);
    element.innerHTML = "";
    
    function type() {
      if (i < text.length) {
        element.innerHTML += text.charAt(i);
        i++;
        setTimeout(type, speed);
      }
    }
    
    type();
  }
  
  // 页面加载完成后执行打字机效果
  window.addEventListener('load', function() {
    typeWriter("学与玩", "typewriter", 100);
  });
	  </script>
    <script src="/assets/js/particles.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>

</html>