CompileFlags:
  Add:
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/HGP/HGP"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/HGP/FastHGP"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/deps/gmm/include"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/deps/eigen-3.4.0"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/deps/glm"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/deps/imgui"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/deps/stb"
    - "-Ic:/Users/lixio/OneDrive/Desktop/MyDoc/lixiongguo.github.io/cpp/deps/polyscope-v2.6.1/include"

If:
  PathExclude: []
